@import '../../styles/variables.css';

.header { 
    background-color:  var(--baseColor);
    width: 100%;
    display: flex;
    padding: .5em;
}

.logo {
    height: 3em;
}

@media screen and (min-width: 961px) {
    .header {
        box-shadow: var(--boxShadow);
    }
}